ALTER TABLE announcements ADD COLUMN IF NOT EXISTS semester TEXT; ALTER TABLE announcements ADD COLUMN IF NOT EXISTS batch TEXT; ALTER TABLE announcements ADD COLUMN IF NOT EXISTS section TEXT; ALTER TABLE announcements ADD COLUMN IF NOT EXISTS department TEXT;
