-- Create Academic Documents table
CREATE TABLE IF NOT EXISTS academic_documents (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    title TEXT NOT NULL,
    description TEXT,
    category TEXT NOT NULL, -- 'timetable', 'syllabus', 'datesheet', etc.
    semester TEXT,
    batch TEXT,
    file_url TEXT NOT NULL,
    file_type TEXT, -- 'pdf', 'image', etc.
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE academic_documents ENABLE ROW LEVEL SECURITY;

-- Everyone can view documents
CREATE POLICY \
Academic
documents
are
viewable
by
everyone\ ON academic_documents
FOR SELECT USING (true);

-- Admins can manage documents
CREATE POLICY \Admins
can
manage
documents\ ON academic_documents
FOR ALL USING (auth.jwt() ->> 'email' = 'f24605061@nutech.edu.pk' OR (auth.jwt() -> 'user_metadata' ->> 'role' = 'admin'));
