CREATE TABLE IF NOT EXISTS complaints (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, student_id UUID REFERENCES auth.users(id), student_name TEXT, category TEXT, subject TEXT, description TEXT, status TEXT DEFAULT 'pending', response TEXT, created_at TIMESTAMPTZ DEFAULT now());
